<!DOCTYPE html>
<html lang="en">
    <head>
        <!DOCTYPE html>
<html lang="en">
    <head>
        <p> 404 Error</p>
    </head>

<body> 
    <div class="not-found content">
        <h2>OOPS page not found. You Click on a wrong URL. Try the right one </h2>
    </div>
</body>
</html>