<!DOCTYPE html>
<html lang="en">
<head>
    <title> My First WS ! <%= title %></title>
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
    <div class="headersection" template>
        <a href="/home"><h2>بسم الله الرحمن الرحيم</h2></a>
    </div>
<ul class="nav-list" template>
    <li><a href="/home"><h2>Home</h2></a></li>
    <li><a href='/create/users' ><h2>New User</h2></a></li>
    <li><a href='/signin'><h2>User Login</h2></a></li>

</ul>

<form action="/signin" method="post">
    <h2> User Sign In</h2>

        <label for="name">User Name:</label>
        <div class="input-field">
        <input type="text" id="name" placeholder="User Name" name="name" required>
        </div>
        <br><br>
        <label for="password">User Password:</label>
        <div class="input-field">
        <input type="text" id="password" placeholder="User Password" name="password" required>
        </div>

        <input type="submit" value="LogIn">
</form>


